.outline{
    width: 150px;
    height: 225px;
    background-color: red;
    display: grid;
    grid-template-rows: 8rem;
}
.imgArea{
    height: 150px;
    background-color:seagreen;
}
.candleTxt{
    display: grid;
    grid-template-rows: 25px;
    overflow-x: auto;   
}
.bottomLine{
    display: grid;
    grid-template-columns: 1fr 1fr;
}